include README.md
include LICENSE
include pyproject.toml
include .coveragerc
include .flake8
recursive-include src *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
